*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffffcc;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 300px;
  box-sizing: border-box;
}

fieldset {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 70px;
  width: 432px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 8px rgba(24, 23, 23, .2);
}

.signup_tag {
  margin: 10px 16px;
  color: #606770;
  position: relative;
}

.signup_tag h1 {
  line-height: 45px;
  color: black
}

img {
  position: absolute;
  top: -2px;
  right: -6px;
}

.details_field {
  margin: 16px;
}

.name_row, .tel_email{
  margin-bottom: 10px;

}

#firstname, #lastname, 
#phn_num, #email, #pwrd {
  width: 43.1%;
  font-size: 15px;
  padding: 10px;
  background-color: rgba(204, 208, 213, 0.4);
  border: 1px solid #ccd0d5;
  border-radius: 5px;
}

#lastname, #email {
  margin-left: 6px;
}

#pwrd {
  width: 94.5%;
  margin-bottom: 10px;
}

.dob_gender {
  width: 99%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dobbox, .genderbox {
  flex: 1;
}

.genderbox {
  margin-left: 14px;
}

.dob_gender label {
  font-size: 12px;
  color: rgb(96, 103, 112);
  font-weight: 400;
  line-height: 20px;
}

#d_o_b, #gender {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
}

#d_o_b {
  width: 88.2%;
}

input:focus {
  border-color: #1368d8;
  outline: 0;
  box-shadow: 0.4px 0.4px 2px #1368d8;
}

.fcolorbox {
  margin-left: 80px;
  margin-right: 80px;
  padding: 10px;
  border: 1px solid #ccd0d5;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1368d8;
  box-shadow: 1px 1px 5px rgba(27, 27, 27, 0.4);
}

.fcolorbox label {
  margin-right: 15px;
  color: white;
  font-weight: 600;
}

.terms_agrbox {
  font-size: 11px;
  color: rgb(119, 119, 119);
  margin: 16px;
}

.terms_agrbox p {
  line-height: 15px;
}

.terms_agrbox a {
  color:#083774;
  text-decoration: none;
}

.terms_agrbox a:hover {
  text-decoration: underline;
}

.terms_agrbox #terms_agr {
  margin-top: 8px;
}

.signupbttn {
  display: flex;
  justify-content: center;
}

#signup {
  
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 8px 70px;
  color:white;
  background-color: rgb(12, 156, 12);   
}

#signup:hover {
  opacity: .8;
}

#signup:active {
  opacity: .7;
}






