* {
  margin: 0;
  padding: 0;
  font-family: Roboto, open-sans, sans-serif;
  color: whitesmoke;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 95%;
  background-color: rgb(231, 222, 206);
  box-sizing: border-box;
}

header,
main,
footer {
  width: 100%;
  background-color: rgba(23, 28, 40, 0.89);
  border: 1px solid white;
}

header {
  width: 100%;
  height: 150px;
  position: relative;
  background-color: rgb(23, 28, 40);
  padding-top: 40px;
}

header nav {
  margin-right: 70px;
  margin-left: 60px;
  display: flex;
  justify-content: right;
}

header ul {
  width: 70%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}

header li {
  text-align: center;
  flex: 1;
  margin-left: 10px;
  background-color: red;
  color: whitesmoke;
  font-weight: 500;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 4px 4px 5px black;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -ms-tansition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

header li:hover {
  background-color: rgb(224, 165, 2);
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding: 6px;
  border-radius: 6px;
}

header a {
  text-decoration: none;
}


.about_link,
.contact_link {
  min-width: 75px;
  background-color: green;
}

@media (max-width: 660px) {
  header nav {
  margin-right: 10px;
  margin-left: 0px;
  }

   header ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
     row-gap: 8px;
  }
}

@media (max-width: 300px) {

   header ul {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
     row-gap: 8px;
}
}

.displayProfile,
.about {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  height: 250px;
  border-bottom: 2px solid rgb(104, 103, 103);
  position: relative;
}

#mypicture {
  width: 200px;
  border: 3px solid bisque;
  border-radius: 50%;
  position: absolute;
  top: -50px;
}

.name {
  position: absolute;
  left: 230px;
  top: 20px;
}

.name p {
  font-size: small;
}

.message {
  font-size: 14px;
  position: absolute;
  top: 100px;
  left: 218px;
  text-align: center;
}

.message a {
  text-decoration: none;
}

.message a:hover {
  text-decoration: underline;
}

.hobbies {
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 5px;
  padding: 5px 10px;
  background-color: rgb(23, 28, 40);
  border-radius: 12px;
  box-shadow: 3px 3px 5px rgba(255, 212, 212, 0.5);
}

.hobbies h5 {
  font-size: large;
}

.hobbies li {
  display: inline-block;
  font-size: 14px;
}

/* CSS for the About section */
.about {
  height: 150px;
  display: flex;
}

.about h4 {
  width: 20%;
  height: 100%;
  color: rgb(224, 165, 2);
  font-size: x-large;
  margin-right: 7px;
}

.about p {
  flex: 1;
  height: 100%;
  vertical-align: top;
}

.services,
.projects {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80%;
  border-bottom: 2px solid rgb(104, 103, 103);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 530px;
  column-gap: 10px;
  padding-bottom: 20px;
}

@media (max-width: 789px) {
    .services, .projects {
        grid-template-columns: 1fr;
    }
}

.services h4,
.projects h4 {
  color: rgb(224, 165, 2);
  font-size: x-large;
}

.services_preview {
    display: flex;
    justify-content: space-between;
}

.services .Thumbnail_details {
  border: 1px solid rgb(104, 103, 103);
  max-width: 250px;
  min-width: 150px;
  border-radius: 10px;
}

.Thumbnail_title {
  margin-top: 6px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 15px;
  text-decoration: none;
  white-space: nowrap;
}

.Thumbnail_title:hover {
  color: bisque;
}

.Thumbnail {
  width: 100%;
  height: 120px;
}

.Thumbnail_details a {
  width: 100%;
  padding: 5px;
  background-color: rgba(3, 3, 3, 0.85);
  border: 0;
  border-top: 2px solid rgb(253, 241, 226);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(26, 33, 51);
  text-decoration: none;
  height: 20px;
  display: flex;
  position: relative;
  width: 95%;
  font-size: 14px;
}

span {
  position: absolute;
  right: 15px;
}

.Thumbnail_details a:hover{
    font-size: 15px;
}

.projectsBox .row1, .projectsBox .row2 {
  display: flex;
  justify-content: space-between;
}

.projectsBox .row1 {
    margin-bottom: 10px;
  }

.projectsBox .Thumbnail_details {
  border: 1px solid rgb(104, 103, 103);
  border-radius: 10px;
  max-width: 250px;
  flex: 1;
}

.skills {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 80%;
  display: block;
}

.skills h4 {
  color: rgb(224, 165, 2);
  font-size: x-large;
  margin-bottom: 15px;
}

.skills p {
    margin-bottom: 6px;
}

.rating_container {
    width: 100%;
    height: 20px;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 15px;
}

#html_rating {
    width: 90%;
    height: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(170, 165, 255);
}

#css_rating {
    width: 70%;
    height: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(170, 165, 255);

}

#js_rating {
    width: 26%;
    height: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: rgb(170, 165, 255);
}

footer {
  height: 250px;
  text-align: center;
  padding-top: 50px;
}

footer h4 {
  color: rgb(224, 165, 2);
  font-size: x-large;
  margin-bottom: 6px;
}

footer li {
  display: inline-block;
}

footer p {
  margin-bottom: 20px;
}

footer img {
  width: 35px;
}

footer img:hover {
  width: 36px;
}

.email_icon,
.twitter_icon,
.linkedin_icon {
  border-radius: 5px;
}

.call_icon,
.facebook_icon,
.github_icon {
  border-radius: 50%;
}

